@page "/Account/Auth/Login"
@model Financas.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="position ColorForm">
    <form method="post" class="FormLayout">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="@Model.Input.Email" class="form-label"></label>
            <input asp-for="@Model.Input.Email" class="form-control" />
            <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.Input.Password" class="form-label"></label>
            <input asp-for="@Model.Input.Password" class="form-control" />
            <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
        </div>
        <div class="RememberMePosition">
            <label asp-for="@Model.Input.RememberMe" class="form-label"></label>
            <input asp-for="@Model.Input.RememberMe" type="checkbox" class="form-check" />
        </div>
        <div>
            <input type="submit" value="SignIn" class="btn btn-primary btnconfig" />
        </div>
      
    </form>

</div>
